<div class="col-sm-4 col-sm-offset-4">
    <form role="form" ng-submit="processFormAdd()">
        <h2>Add product to the store</h2>
        <p id="messages" class="alert" ng-show="message" ng-class="{'alert-warning' : message}">{{ message }}</p>
        <div class="form-group">
            <input ng-model="formData.product_price" type="text" name="product_price" class="form-control" placeholder="Enter price in DKK">
        </div>
        <div class="form-group">
            <input ng-model="formData.product_name" type="text" name="product_name" class="form-control" placeholder="Product name">
        </div>
        <div class="form-group">
            <input ng-model="formData.product_image" type="text" name="image_url" class="form-control" placeholder="Image link">
        </div>
        <div class="form-group">
            <textarea ng-model="formData.product_description" name="product_description" class="form-control" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <input ng-model="formData.product_quantity" name="product_quantity" class="form-control" placeholder="Quantity">
        </div>
        <button class="btn btn-lg btn-primary">Add product</button>
    </form>
</div>
