<div class="container-fluid">
    <form class="form-signin" role="form" ng-submit="processForm()">
        <h2 class="form-signin-heading">Register a new account</h2>

        <p id="messages" class="alert" ng-show="message" ng-class="{'alert-success' : message}">{{ message }}</p>

        <div ng-class="{'has-error': errorEmail}">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input ng-model="formData.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="" autocomplete="off">
            <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span>
        </div>

        <div ng-class="{'has-error': errorPassword}">
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="formData.password" type="password" id="inputPassword" class="form-control" placeholder="Choose a password" autocomplete="off">
            <span class="help-block" ng-show="errorPassword">{{ errorPassword }}</span>
        </div>
        <div class="radio">
          <label>
            <input ng-model="formData.userType" type="radio" name="userType" value="customer" checked>
            I am a customer
          </label>
        </div>
        <div class="radio">
          <label>
            <input ng-model="formData.userType" type="radio" name="userType" value="partner">
            I want to sign up as a partner
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
